<h2 *ngIf="!mostrarTodos">Clientes Ativos</h2>
<h2 *ngIf="mostrarTodos">Todos os Clientes</h2>

<button (click)="listarTodos()" *ngIf="!mostrarTodos">Listar Todos</button>
<button (click)="listarAtivos()" *ngIf="mostrarTodos">Listar Apenas Ativos</button>

<table>
  <tr>
    <th>Nome</th>
    <th>Email</th>
    <th>Tipo</th>
    <th>Status</th>
    <th>Ações</th>
  </tr>
  <tr *ngFor="let cliente of clientes">
    <td>{{ cliente.nome }}</td>
    <td>{{ cliente.email }}</td>
    <td>{{ cliente.tipo }}</td>
    <td>{{ cliente.status_cliente }}</td>
    <td>
      <button (click)="alternarStatus(cliente)">
        {{ cliente.status_cliente === 'ATIVO' ? 'Inativar' : 'Ativar' }}
      </button>
    </td>
  </tr>
</table>
