{% extends "clientes/base.html" %}

{% block content %}
<h2>Clientes</h2>
<form method="get">
    <label for="todos_cliente">Mostrar todos os clientes:</label>
    <input type="checkbox" id="todos_cliente" name="todos_cliente" {% if request.GET.todos_cliente %}checked{% endif %}>
    <button type="submit">Filtrar</button>
</form>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>E-mail</th>
            <th>Tipo</th>
            <th>Criado em</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {% for cliente in clientes %}
        <tr>
            <td>{{ cliente.id }}</td>
            <td>{{ cliente.nome }}</td>
            <td>{{ cliente.email }}</td>
            <td>{{ cliente.get_tipo_display }}</td>
            <td>{{ cliente.criado_em }}</td>
            <td> 
                <form method="get">
                    <input type="hidden" name="id_cliente" value="{{ cliente.id }}">
                    {% if cliente.status == "ATIVO" %}
                        <input type="hidden" name="status_cliente" value="INATIVO">
                        <button type="submit">Inativar</button>
                    {% else %}
                        <input type="hidden" name="status_cliente" value="ATIVO">
                        <button type="submit">Ativar</button>
                    {% endif %}
                </form>
            </td>
        </tr>
            {% empty %}
            <tr>
                <td colspan="5">Nenhum cliente encontrado.</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
